/* # GENERICS */
:root {
    --violet: #7289da;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 16px;
}

/* LAYOUT */

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.container .small-column {
    padding: 40px;
    width: 40%;
}

.container .big-column {
    padding: 40px;
    width: 60%;
}

.flex-container {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

/* SPACING CLASS */

.ml-2 {
    margin-left: 0.8rem;
}

.ml-3 {
    margin-left: 1rem;
}


/* # HEADER  */
header {
    color: #fff;
    background-color: #582AF4;
}

header .topbar {
    height: 80px;

    margin: 0 auto;
    max-width: 1200px;

    display: flex;
}

header .topbar .logo-column {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

header .topbar .logo-column img {
    display: block;
}

header .topbar .menu-column {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .topbar .button-column {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topbar .main-menu {
    display: flex;
    list-style-type: none;
}

.topbar .main-menu li {
    font-size: 14px;
    margin: 0 20px;
}

.topbar .main-menu a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.topbar .main-menu a:hover {
    text-decoration: underline;
}

/* Bottoni */

.btn {
    display: inline-block;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    background-color: var(--violet);
}

.btn.btn-white {
    color: black;
    background-color: #fff;
}

.btn.btn-small {
    font-size: 14px;
    padding: 10px 15px;
}

.btn.btn-dark {
    color: white;
    background-color: #23272a;
}

.btn.btn-big {
    padding: 15px 20px;
    border-radius: 25px;
}

.btn:hover {
    color: #3161e0;
}

/* # JUMBOTRON */

#jumbotron {
    height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/jumbo.png);

    display: flex;
    justify-content: center;
    align-items: center;
}

#jumbotron .content {
    width: 50%;
    text-align: center;
}

#jumbotron h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

#jumbotron p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
}

/* MAIN */

main section {
    padding-top: 60px;
    padding-bottom: 60px;
}

main section:last-child {
    padding-bottom: 150px;
}

main h2 {
    font-size: 48px;
    margin: 30px 0;
}

main p {
    line-height: 150%;
}

.text-center {
    text-align: center;
}

.full-page-text {
    padding: 0 100px;
}

.full-page-image {
    width: 100%;
}


/*  EFFECTS */

.wave {
    height: 100px;
    filter: opacity(0.04);
    background-image: url(../img/wave.svg);
}

.upside-down {
    transform: rotateX(0.5turn);
}

.starred-title {
    width: 50%;
    padding-top: 40px;
    margin: 40px auto;
    margin-bottom: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url('../img/stars.svg');
}


/*  FOOTER */

footer {
    padding: 80px 0 60px 0;
    background-color: #23272a;
}

footer .footer-top {
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
}

footer .main-column {
    flex-basis: 25%;
}

footer .menu-column {
    flex-basis: 75%;

    display: flex;
    justify-content: space-between;
}

footer h4,
footer h5 {
    padding-right: 20px;
    margin-bottom: 20px;
    color: var(--violet);
}

#language {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#language * {
    margin-right: 5px;
}

#language img {
    width: 25px;
}

.social-networks {
    width: 50%;
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.social-networks a {
    color: #fff;
}

.footer-menu li {
    font-size: 16px;
    margin-bottom: 20px;
    list-style-type: none;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
}

.footer-menu a:hover {
    text-decoration: underline;
}

.footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--violet);

    display: flex;
    justify-content: space-between;
}

.footer-bottom img {
    display: block;
}